.wrapper-404 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: #782bf7;
  font-weight: bold;
}

@media (min-width: 640px) {
  h1 {
    font-size: 8rem;
  }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 12rem;
    }
}

@media (min-width: 1250px) {
    h1 {
        font-size: 16rem;
    }
}