.container {
  background-image: linear-gradient(to right top, #390097, #4503b0, #5107ca, #5e0ce4, #6b12ff);
}
/*
 * areas
 */
.profile-pic-area {
  grid-area: profile-pic;
  align-content: center;
  align-items: center;
}

.profile-pic-area img {
  margin-top: 25px;
}

.profile-info-area {
  grid-area: profile-info;

}

.about-me-area {
  grid-area: about-me;
}
.blog-area {
  grid-area: blog;
}

.projects-area {
  grid-area: projects;
}

.contact-me-area {
  grid-area: contact-me;
}

.social-area {
  grid-area: social;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #4ce6ac;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.content-block img {
  object-fit: contain;
  height: 225px;
  align-self: center;
}

.content-block ul {
  list-style: none;
  padding: 0;
}

.content-block li {
  margin: 25px;
}

.title-bar {
  margin-top: 40px;
  font-size: 1em;
  font-weight: bold;
  background-color: #4ce6ac;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  padding: 7px;
}

.title-bar-noeffect {
  font-size: 1em;
  font-weight: bold;
  background-color: #3c019d;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  padding: 7px;
  margin-top: 30px;
  color: #fff;
}

.title-bar-content {
  margin-top: 35px;
  font-size: 1em;
  font-weight: bold;
  background: #4ce6ac;
  width: 300px;
}

.content-block section .title-bar {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.content-block section .title-bar-content {
  padding: 10px;
  text-align: center;
  color: black;
}

.content-block section {
  align-self: center;
}

.title-bar-experience {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.leftbar-text {
  width: auto;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
}

.leftbar-text-single {
  width: 300px;
  margin-top: 25px;
  text-align: center;
}

.single-line {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.single-line-email {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.social-links li {
  text-align: center;
}
.social-links ul:first-child {
  margin-top: 50px;
}

.social-links ul:last-child {
  margin-bottom: 50px;
}

/*
 * FORM
 */
 .form-main {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 18px;
  text-align: left;
  width: 100%;
}
.form-sending {
  margin-left: 30px;
  margin-bottom: 10px;
}
.form-sending.success {
  color: rgb(13, 214, 90);
}
.form-sending.sending {
  color: #f2da34;
}
.form-sending.error {
  color: #f23434;
}
.form-item input[type='text'], .form-item input[type='email'], .form-item textarea {
  width: 250px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
  border: 0;
  box-shadow: 0px 5px 5px #BCBCBC;
}
.form-item textarea {
  width: 290px;
  height: 260px;
  border: 0;
  padding: 10px;
  resize: none;
}
.form-item button {
  margin-left: 30px;
  background-color: #4ce6ac;
  text-transform: uppercase;
  border: 0;
  width: 200px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.form-item button:hover {
  color: #ffffff;
  background-color: #000000;
}
.form-item button:active {
  background-color: #464646;
}

aside .container {
  display: grid;
  grid-template: 
    "blog"
    "social"
    "contact-me"
}

aside {
  grid-column: 3;
  background-color: #f9f9f9;
}

footer {
  grid-column: 3;
  height: 10px;
}

/*
 * BREAKPOINTS
 */

 @media (min-width: 450px) {
  .form-item input[type='text'], .form-item input[type='email'], .form-item textarea {
    width: 370px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
  }
  .form-item textarea {
    width: 365px;
    height: 260px;
    border: 1px solid #ccc;
    padding: 10px;
  }
 }

/*
 * tablet and mobile landscape
 */
@media (min-width: 640px) {
  .form-main {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: left;
    width: 600px;
  }
  .form-sending {
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .form-sending.success {
    color: rgb(13, 214, 90);
  }
  .form-sending.sending {
    color: #f2da34;
  }
  .form-sending.error {
    color: #f23434;
  }
  .form-item input[type='text'], .form-item input[type='email'], .form-item textarea {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
  }
  .form-item textarea {
    width: 550px;
    height: 260px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .form-item button {
    margin-left: 30px;
    background-color: #4ce6ac;
    text-transform: uppercase;
    border: 0;
    width: 200px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .form-item button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .form-item button:active {
    background-color: #464646;
  }
  .field-validation {
    margin: 0 0 10px 30px;
    color: rgb(252, 21, 98);
  }
  .profile-pic-area img {
    object-fit: contain;
  }
  
  .job-desc {
    padding-left: 20px;
  }
  footer {
    height: 0px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 340px 684px;
    background-image: linear-gradient(to right top, #390097, #4503b0, #5107ca, #5e0ce4, #6b12ff);
  }
  
  header {
    display: grid;
    grid-column: 1;
    grid-template:
    "profile-pic"
    "profile-info"
    "about-me"
    "projects"
  }
  
  aside {
    display: grid;
    grid-column: 2;
    grid-template: 
    "blog"
    "social"
    "contact-me"
  }
  
  footer {
    display: grid;
    grid-column: 2;
    padding-bottom: 40px;
    
  }
  
  .profile-info-area, .profile-pic-area, .about-me-area, .projects-area {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
  }
  .blog-area, .social-area, .contact-me-area {
    background-color: #f9f9f9;
    color: #111213;
  }
  .blog-area, .social-area, .contact-me-area {
    background-color: #f9f9f9;
    color: #111213;
  }
  .title-bar {
    border: 1px;
    border-style: solid;
    border-color: #E8E8E8;
    box-shadow: 0px 5px 5px #E8E8E8;
  }
  .content-block {
    margin-bottom: 0;
  }
  .content-block img {
    height: 100%;
  }
  .profile-pic-area {
    text-align: center;
  }
  .profile-pic-area img {
    width: 55%;
    text-align: center;
  }
}

@media (min-width: 1250px) {
  .container {
    display: grid;
    grid-template-columns: 494px 754px;
  }
  
  header {
    display: grid;
    grid-column: 1;
    grid-template:
    "profile-pic"
    "profile-info"
    "about-me"
    "projects"
  }
  
  aside {
    display: grid;
    grid-column: 2;
    grid-template: 
    "blog"
    "social"
    "contact-me"
  }
  
  footer {
    display: grid;
    grid-column: 2;
    padding-bottom: 40px;
  }

  .content-block {
    margin-bottom: 0;
  }
  
  .profile-pic-area {
    justify-content: center;
    text-align: center;
  }
  .blog-area, .social-area, .contact-me-area {
    background-color: #f9f9f9;
    color: #111213;
  }
  .projects-area {
    flex-direction: column;
  }
}
