
.blog-posts {
  font-size: 0.9em;
  margin-top: 10px;
  text-align: left;
}

.blog-title {
  margin-top: 40px;
  font-size: 1em;
  font-weight: bold;
  background-color: #f2da34;
  border-radius: 20px;
  padding: 15px;
  color: #000;
}

.content-blog-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #111213;
  justify-content: flex-start;
  padding: 20px;
  color: #fff;
}

.blog-category {
  margin: 10px 0 0 10px;
  font-size: 0.9em;
}

/* https://css-tricks.com/custom-list-number-styling/ */
.markdown {
  display: grid;
  font-size: 0.8em;
}

.markdown ol {
  list-style: none;
  counter-reset: list-counter;
}

.markdown ol li {
  counter-increment: list-counter;
  font-style: italic;
}

.markdown ol li::before {
  content: counter(list-counter) ". ";
  font-style: initial;
}

.override {
  display: block;
  margin: 100px auto 0 auto;
}

.spinner {
  margin-top: 80px;
  align-self: center;
}

.edit-post {
  width: 60px;
}

.delete-post {
  width: 60px;
  color: #fff;
  background-color: #FF2C55;
}

@media (min-width: 1024px) {
  .blog-posts a {
    color: #000;
  }
  .markdown {
    font-size: 1em;
  }
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
  margin-right: 30px;
}

.action-edit-delete {
  justify-self: end;
}

.action-edit-delete button {
  margin-left: 10px;
}