.social-networks {
  align-self: center;
  margin-top: 40px;
}

.social-networks li {
  display: inline;
}

.list-posts {
  padding-top: 1px;
}

@media (min-width: 1024px) {
  .social-networks a {
    color: #000;
  }
}

