
.App {
  display: grid;
  grid-template-columns: 1fr;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

button {
  margin-left: 30px;
  background-color: #f2da34;
  text-transform: uppercase;
  border: 0;
  width: 200px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
button:hover {
  color: #ffffff;
  background-color: #000000;
}
button:active {
  background-color: #464646;
}

/*
 * tablet and mobile landscape
 */
@media (min-width: 640px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    color: #fff;
  }
}

/*
 * desktop 
 */
@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: auto;
  }
}

/*
 * desktop 
 */
@media (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  }
}

/*
 * desktop WIDE
 */
@media (min-width: 1250px) {
  .App {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  }
}
