
.App {
  display: grid;
  grid-template-columns: auto;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/*
 * tablet and mobile landscape
 */
@media (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: auto;
  }
}

/*
 * desktop
 */
@media (min-width: 1450px) {
  .App {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  }
}
